.ui.basic.segment.profile {
  background-color: #ffffff;
  margin: 0;
  padding-left: 4rem;
}

#profile-grid {
  padding: 2rem  4rem;
}
.profile__meta + .profile__meta  {
  margin-top: 0.75rem;
}
.profile__meta .profile__meta__label {
  color: #abb8c7;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.profile__meta .profile__meta__value {
  font-size: 1rem;
}

.ui.grid .row+.ui.divider {
  margin: 0 1rem !important;
}
#language {
  margin-left: 1rem;
}